<div mat-dialog-title>
  <h1>Formulário de Funcionário</h1>
</div>

<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput type="text" placeholder="Ex. Paula" formControlName="nome">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Sobrenome</mat-label>
        <input matInput type="text" placeholder="Ex. Calixto" formControlName="sobrenome">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Ex. teste@gmail.com" formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Data de nascimento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="data">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions class="action">
    <button mat-button mat-dialog-close type="button" [mat-dialog-close]="false">Cancelar</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Atualizar' : 'Salvar'}}</button>
  </div>
</form>
